<!-- В файле views/allGuests.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Guests</title>
</head>
<body>
    <h1>All Guests by Event</h1>
    <% if (events.length > 0) { %>
        <% events.forEach(event => { %>
            <h2><%= event.name %></h2>
            <ul>
                <% event.guests.forEach(guest => { %>
                    <li><%= guest.name %> - Attending: <%= event.name %></li>
                <% }) %>
            </ul>
        <% }) %>
    <% } else { %>
        <p>No guests found.</p>
    <% } %>
</body>
</html>
<!-- Включите эту строку в <head> каждого .ejs файла -->
    <link rel="stylesheet" href="/css/styles.css">
