<!-- editGuestForm.ejs -->
<form action="/guests/edit/<%= guest.id %>" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= guest.name %>" required><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="<%= guest.email %>" required><br>
    <input type="submit" value="Update Guest">
</form>
<!-- Включите эту строку в <head> каждого .ejs файла -->
    <link rel="stylesheet" href="/css/styles.css">
