
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Event Organizer</title>
</head>
<body>
    <h1>Welcome to Our Event Organizer!</h1>
    <p>This is the best place to manage your events efficiently.</p>
    <a href="/events">View List of Events</a><br>
    <a href="/guests">View List of Guests</a> 
</body>
</html>

    <link rel="stylesheet" href="/css/styles.css">
