
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

header, footer {
    background-color: #ddd;
    padding: 10px 20px;
    text-align: center;
}

h1, h2 {
    color: #444;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #eee;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Стили для ссылок в шапке */
.nav-links {
    text-align: center;
    margin-top: 10px;
}

.nav-link {
    margin-right: 10px;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


form input[type="text"], form input[type="email"], form input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
}

form label {
    display: block;
    margin-top: 15px;
}

form button[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 20px;
}
